<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Member page</title>
        <link rel="stylesheet" href="/layout.css"/>
    </head>
    <body>
       <div>
            <div class="header">
                <div class="titletext">
                    歡迎光臨，這是會員頁
                </div>
            </div>
            <br/>
            <div class="content">
                {{name}}，歡迎登入系統
                <br/>
                <br/>
                <button><a href="/logout">登出</a></button>
            </div>
            <hr/>
            <br/>
            <br/>
            <div class="content">
                <b>快來留言吧</b>
                <form action="/message" method="POST" >
                    <div>
                        內容
                        <input type="text" name="message"/>
                    </div>
                    <br/>
                    <button>送出留言</button>
                </form>
                <br/>
                <br/>
            </div>
            <hr/>
            <br/>
            <br/>
            <div class="content">
                <b>留言區</b>
                <div>
                    {% for item in content %}
                    <b>{{item[0]}} :</b> {{item[1]}}<br/>   
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>